[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = ">=0.17.0"
fastapi = ">=0.68.1"
python-multipart = ">=0.0.5"
uvicorn = ">=0.15.0"
aiofiles = ">=0.7.0"

[dev-packages]

[requires]
python_version = "3.8"
